tr {
    border: 0.11rem solid #302718;
    border-radius: 2rem;
}

td {
    color: black;
}

th {
    color: black;
    border-bottom: 0.1rem solid #302718;
}

th:hover {
    color: #7395AE;
}



.popups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

