

.grid {
    display: flex;
    flex-direction: row;
    /* position: fixed;
    right: 1350px;
    top: 50px; */
    /* margin-top: 7rem; */
    margin-right: 1rem;
    justify-content: center;
    
}

.font {
    font-family: 'Apercu Pro', sans-serif !important;
}

::after {
    font-size: 12px;
}

input[type="radio"] {
    border-width: 1px !important;
}

input[type="submit"]{
    width: 100px !important;
    height: 20px !important;
    padding: 1px !important;
}


.join-item {
    width: 65px !important;
}

input[type="number"] {
    margin-bottom: 0;
    width: 100px;
    height: 31px;
}

/* #date {
    color: #3949ab;
    font-size: large;
} */

select {
    color: black;
    font-size: 12px;
}

small {
    color: black;
}

input::placeholder {
    color: black;
}

input.submit {
    color: black;
}

label {
    color:black;
}

p {
    color: black;
}

legend{
    color: black;
}